*Carol Final Peer Review*

**Introduction:PeerReview**

Intro to Data Science Language
1. Python
2. SQL
3. Java
4. Scala
5. Julia
6. MATLAB
7. JavaScript
8. C++
9. SAS
10. Swift
11. Ruby
12. Lisp
13. Kotlin
14. TensorFlow
15. Perl
16. Haskell
17. Rust
18. Golang
19. Fortran
20. Dart
21. Prolog
22. Keras
23. GNU Octave
24. NLTK

Table of Data Science Libraries
Python Libraries

1. Pandas
2. Matplotlib
3. TensorFlow
4. SciPy
5. Scrapy
6. NumPy
7. SeaBorn
8. Keras
9. PyTorch
10.SQLModel

table of Data Science Tools
|syntax| |description|
|
|------------------------|
|----------------------------|
|Header Data Science Tools |Tools|
|Paragraph| RapidMiner|
|Paragraph| Apache Spark|
|Paragraph| KNIME|
|Paragraph|Tableau|
|Paragraph|TensorFlow|
|Paragraph|MATLAB|
|Paragraph|SAS|
|Paragraph|SCikitlearn|
|Paragraph|Python|
|paragraph|Project Jupyter|
|Paragraph|Apache Hadoop|

Arithmetic expression examples

(10+5)*3
=45

(20+5)*4
=100

In [18]:
muiltiply and add numbers

1 *(2+5)
=7
2 *(3+6)
=18
3 *(4+7)
=33
4 *(5+8)
=52
5 *(6+9)
=75
6 *(7+10)
=102
7 *(8+11)
=133
8 *(9+12)
=168
9 *(10+13)
=207

SyntaxError: invalid syntax (2337949011.py, line 1)

In [ ]:
convert minutes to hours

function convert Seconds (seconds){
    var convert = function(x) { return (x,10)
                               return convert(parseInt(seconds / (60*60)))
                               convert(parseInt(seconds / 60 % 60))
                               convert(seconds % 60)}

list objectives
Objectives for project

-List data science languages
-list data science libraries
-create table of Data science tools
-use and example of an arithmetic expression
-multiply and add numbers
-use code to convert minutes to hours

Carol Onderak